.noteCard{
    background: rgb(200, 119, 20);
    width: 400px;
    height: 200px;
    border: 1px solid #AAA;
    overflow: hidden;

    margin-top: 10px;
}

.cardBody {
    height: 100%;
  margin-right: -50px; /* Maximum width of scrollbar */
  padding-right: 50px; /* Maximum width of scrollbar */
  overflow-y: scroll;
  
  
    }


.cardText{

white-space: pre-line;


}

